.future{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 60px 5px;

    h2{
        text-align: center;
        color: rgb(0, 0, 61);
    }

    .futureInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        .imageDiv{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .textDiv{
            display: flex;
            flex-direction: column;
            gap: 30px;

            h2{
                color: rgb(0, 0, 61);
                font-weight: 500;
            }
            p{
                color: gray;
                line-height: 25px;
                text-align: center;
            }
        }
    }
}

@media (min-width:640px){
    .future{ 
        .futureInfo{
            flex-direction: row-reverse;
            align-items: center;

            .imageDiv{  
                width: 50%;
                img{
                    width: 100%;
                }
            } 
            
            .textDiv{
                width: 50%; 
                h2{
                    text-align: left;
                }  
                p{
                    text-align: left;
                }  
            }
        }
    }
}


@media (min-width:768px){  
    .future{
        padding-left: 40px;
    }
}

@media (min-width:1024px){ 
    .future{
        padding-left: 80px;
    }
}